body {
    font-family: sans-serif;
}

.link-header {
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding: 10px;
    padding-left: 240px;
    padding-right: 240px;
    display: block;
    text-align:  center;
}

nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 100px 10px 100px;
    display: flex;
    margin-top: 10px;
}

.link-nav {
    text-decoration: none;
    color: black;
    padding-right: 100px;
    justify-content: space-between;
    display: block;
}

.link-nav:hover {
    transition: 3s box-shadow ease-in;
    box-shadow: 5px 5px 5px 0 black;
}

h1 {
    text-align: center;
}

footer {
    padding-right: 40px;
    font-family: fantasy;
    text-align: center;
}

main p {
    font-family: fantasy;
}

.social {
}
